<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>
<body>

    <div class="w-full h-20 bg-white shadow-md">

     
        <ul class="flex justify-end gap-6 p-6">
            <li><a href="">Home</a></li>
            <li><a href="/user/profile">Profile</a></li>
            <li><a href="/user/register">Register</a></li>
        </ul>


    </div>
    
</body>
</html>